body > h1{
  text-align: center;
}

#parent {
  display: flex;
}
#narrow {
  width: 50%;
  /*background: lightblue;*/
  /* Just so it's visible */
}
#wide {
  flex: 1;
  /* Grow to rest of container */
  /*background: lightgreen;*/
  /* Just so it's visible */
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: #8A2BE2 !important;
}

.axis--x path {
  display: none;
}

/* Tooltip taken from https://bl.ocks.org/d3noob/257c360b3650b9f0a52dd8257d7a2d73*/
div.tooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 28px;
  padding: 2px;
  font: 12px Cambria;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 9999; /* Bring the tooltip box to the front */
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}

.barcolor {
  float: left;
  width: 10px;
  height: 10px;
  margin: 3px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue1 {
  background: steelblue;
}

.blue2 {
  background: blue;
}

.red1 {
  background: red;
}

.red2 {
  background: darkred;
}

body {
  font-family: Cambria;
}

.marginLeft15 {
  margin-left: 15px;
}

body select {
  padding: 5px;
  font-size: 1.2em;
  font-family: Cambria;
  border: 1px solid grey;
  border-radius: 10px;
}

.marginLeft20 {
  margin-left: 20px;
}

.button {
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 10px;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: Cambria;
  font-size: 1.2em;
}